<% @dogs.each do |dog| %>
  <%= erb :'dogs/_dog', locals: { canine: dog } %>
<% end %>

<a href="/dogs/new">Create a new Dog!</a>

<p><a id='hacker-mode' href="/dogs?mode=hacker">Change Background to Be Hacker Cool!</a></p>

