<form action="/dogs" method="post">
  <label for="name">Name: </label><br/>
  <input type="text" name="dog[name]" id="name" value="" /><br/>
  <label for="breed">Breed: </label><br/>
  <input type="text" name="dog[breed]" id="breed" value="" /><br/>
  <input type="submit" name="" id="" value="Bow Wow!  Make a Dog" />
  
</form>
