  <label for="">Name:</label><br/>
  <input type="text" name="user[username]" id="" value="" /><br/>
  <label for="">Pw:</label><br/>
  <input type="password" name="user[password]" id="" value="" /><br/>

