<h1>This is <%= "The handsome #{@bonkers}" %></h1>
<form action="/favorite_pet" method="post">
  <label for="name">Pet Name:</label>
  <input type="text" name="name" id="name" value="" />
  <input type="submit" name="" id="" value="Submit" />
</form>
